<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BrincadeirasFlask</title>
</head>
<body>
    <h1>Bem vindo ao BrincadeirasFlask</h1>
    <h2>Desenvolvido por Deyvison</h2>
    <p>Caramba</p>
    <ul>
        <li>Item 1</li>
        <button>Clique aqui para saber mais</button>                
        <li>Item 2</li>
        <button>Não clique aqui para saber mais</button>
        <li>Item 3</li>
        <button>Já disse para não clicar</button>
    </ul>
    <a href="/Pokemons">Ver Pokemons</a>
    <a href="http://google.com" target = "_blank">Google</a>
</body>

</html>