<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pokemons</title>
</head>
<body>
    <h1>Lista de Pokemons</h1>
    <ul>
        {% for pokemon in pokemons %}
        <li>ID: {{pokemon[0]}} - Nome {{pokemon[1]}} - Peso {{pokemon[2]}} - Altura {{pokemon[3]}} - Tipo {{pokemon[4]}}</li>
        {%endfor%}
    </ul>
    <a href="/Pokemons">Ver Pokemons</a>
    <a href="http://google.com" target = "_blank">Google</a>
    <a href="/Pokemons/Inserir">Cadastro de Pokemons</a>
</body>

</html>